* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 80%;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

img {
  flex: 1 1 auto;
}

video {
  flex: 1 1 auto;
}
